/*#region Global */
$txt-primary: black;
$txt-secondary: black;
$txt-accent: purple;

$txt-font-primary: "Casablanca Antique";
$txt-font-secondary: "Univers Black";
$txt-font-body: "Sudbury Book";

@font-face {
  font-family: "Casablanca Antique";
  src: url("fonts/Heading-CasablancaAntique.ttf");
}

@font-face {
  font-family: "Univers Black", serif;
  src: url("fonts/Subhead-UniversBlack.ttf") font-weight-normal;
}

@font-face {
  font-family: "Sudbury Book";
  src: url("fonts/Body-SudburyBook.ttf") font-weight-normal;
}

$design-primary: white;
$design-secondary: white;
$design-accent: purple;
/*#endregion*/

/*#region Reset & Initial Styles */

html,
body,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
}

.newTodoButton.hidden {
  display: none;
}

/*#endregion*/

/*#region Typography */

* {
  font-family: $txt-font-body;
  box-sizing: border-box;
}

h1 {
  font-family: $txt-font-primary;
  color: $txt-primary;
  background-color: $design-secondary;
  text-align: center;
  margin-top:1rem;
}

h2 {
  font-family: $txt-font-secondary;
  text-align: center;
}

/*#endregion*/

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

#modal-content {
  position: relative;
  margin: 20% auto;
  background-color: white;
  padding: 3rem;
  width: 30em;
}

#newList {
  display: flex;
  justify-content: center;
  margin: 0.5rem 1rem;
  align-items: center;
  input {
  min-height: 3.5rem;
  }
  button {
    max-height: 2rem;
  }
}

.activeList {
  color: red;
  background-color: purple;
}
