body {
  margin: 10px;
}

.slider-frame {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 450px;
}

.image-holder {
  position: absolute;
  width: 600px;
  height: 450px;
  transition: left 1s cubic-bezier(0.11, 0, 0.5, 0);
}

.slider-controls {
  z-index: 5;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 1rem;
  margin: 0;
  font-family: sans-serif;
  font-size: 30pt;
  border: 3px solid white;
  border-radius: 25%;
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  text-align: center;
}

.slider-jump.active {
  background-color: black;
}
