/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

/* Styles */

ul {
  list-style: none;
  padding: 0;
}

nav {
	position: absolute;
	top: 15%;
	left: 15%;
}

.nav-list {
	display: flex;
	gap: 1rem;
}

.nav-link {
	text-decoration: none;
	color: inherit;
	padding: 0.5rem;
}

.nav-link:hover {
	text-decoration: solid;
}

/* Dropdown Styles */

.dropdown {
	display: flex;
	flex-direction: column;
	position: absolute;
}

.dropdown-link{
	display:none;
}

.active {
	display: block;
}